<td width="33%">
  <table align="center">
    <tr style="height: 98px">
      <td style="width: 30%; border: 2px solid black; text-align: center; padding: 5px;">
        <a style="font-size: 16px; color: #333;font-weight: 600;" href="[link]" target="_blank">[title]</a>
      </td>
    </tr>
    <tr>
      <td>
        <div style="margin-top: 3px; margin-bottom: 13px; padding: 8px; background-color: #000000; color: #ffffff; font-size: 11px; text-align: center; font-weight: 100">
          [date]</div>
      </td>
    </tr>
  </table>
</td>