<tr>
  <td style="display:block; padding-top: 0; padding-right: 60px; padding-bottom: 0; padding-left: 60px">				
    <table width="100%" cellpadding="0" cellspacing="0" style="border: 2px solid #000;">
      <tr>
        <td width="50%">
          <a style="color:#111111; font-size: 20px; font-family:arial;" href="[link]" target="_blank"><img src="[image]" alt="[title]" title="[title]" width="100%"></a>
        </td>
        <td width="50%" style="padding: 8px; text-align: center;" valign="middle">
          <a style="color:#111111; font-size: 20px; font-family:arial;" href="[link]" target="_blank">[title]</a><br/>
          [text]
        </td>
      </tr>
    </table>
  </td>
</tr>
<tr>
  <td style="display: block; padding-top: 10px; padding-right: 60px; padding-bottom: 0; padding-left: 60px; color: grey; font-size: 30px; text-align: center; ">
    <img src="https://www.spri.eus/archivos/boletines/imgs/GS_1/base/separador.jpg" alt="dots">
  </td>
</tr>