<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<title>Spri</title>
	<meta name="viewport" content="width=device-width" />
	<style type="text/css">
		body {
			font-family: Arial;
			color: #3C3C3C;
			background:#EFEFEF;
		}
		a:link {
			color: #333333;
			text-decoration: none;
		}
		a:visited {
			text-decoration: none;
			color: #333333;
		}
		a:hover {
			text-decoration: none;
			color: #333333;
		}
		a:active {
			text-decoration: none;
			color: #333333;
		}
	</style>

	</head>
<body data-rsssl=1 bgcolor="#EFEFEF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
			<br/><p style="font-size:9px; text-align:center;">
			<a href="%WEBCOPY%">			
				Ezin baduzu newsletter hau ikusi, egin klik <strong>hemen</strong>			</a>
		</p>
		<table width="680" border="0" align="center" cellpadding="0" cellspacing="0" style="background: white; margin-bottom:0 !important;">
		<tbody>
			
					<tr>
			<td style="display:block; padding-top: 40px; padding-right: 20px; padding-bottom: 0; padding-left: 20px">
				<table  width="100%" cellpadding="2" cellspacing="0">
					<tr>
						<td>
							<span style="color: #3C3C3C; text-align: left; font-size: 20px; font-weight: bold; letter-spacing: -0.03em">
								Hemen da<br>industria berria							</span>
							<span style="color: grey; text-align: left; font-size: 10px;">
								<br><br>&nbsp;&nbsp;&nbsp;&nbsp;ASTEROKO BULETINA							</span>
						</td>
						<td style="text-align: right; display: block">
							<img src="https://www.spri.eus/archivos/boletines/imgs/logos/spri-logo-300.jpg" alt="SPRI">
						</td>
					</tr>

				</table>
			</td>
		</tr>	<tr>
		<td style="text-align:center">
			<br />
			<br />
			<p style="font-size: 7.5pt; color:#4289c1; border-top:1px solid #c3c3c3; border-bottom:1px solid #c3c3c3; padding:25px 0;text-align:center;margin:10px auto 0 auto; width: 680px">
				<span>
					<a href="%WEBCOPY%" style="color:#4289c1">
						<span style="color:#3C3C3C">								
							PORTADA						</span>
					</a>
				</span>
				<span style="color:#3C3C3C">
					 | 
				</span>
				
				<span>
					<a href="https://www.spri.eus/basque-industry-komunikazioa/" target="_blank" style="color:#4289c1">
						<span style="color:#3C3C3C">								
							BASQUE INDUSTRY 4.0						</span>
					</a>
				</span>
				<span style="color:#3C3C3C">
					 | 
				</span>
				
				<span>
					<a href="https://www.spri.eus/upeuskadi-komunikazioa/" target="_blank" style="color:#4289c1">
						<span style="color:#3C3C3C">								
							UP! EUSKADI						</span>
					</a>
				</span>
				<span style="color:#3C3C3C">
					 | 
				</span>
				
				<span>
					<a href="https://www.spri.eus/nazioartekotzea-komunikazioa/" target="_blank" style="color:#4289c1">
						<span style="color:#3C3C3C">								
							BASQUE TRADE & INVESTMENT						</span>
					</a>
				</span>	
				<span style="color:#3C3C3C">
					 | 
				</span>					

				<span>
					<a target="_blank" href="https://www.spri.eus/laguntzak" target="_self" style="color:#4289c1">
						<span style="color:#ff0505">								
							LAGUNTZAK						</span>
					</a>
				</span>	

			</p>
		</td>
	</tr>			
      [NEWS]
      [IF_HELPS]
      <tr>
        <td style="display:block; padding-top: 0; padding-bottom: 0; font-size:30px; font-weight: 600; text-align: center; padding-top: 30px; padding-bottom: 20px; color: #000000; text-transform: uppercase; background-color:#ffffff;">
          <a name="ayudas">[YEAR] LAGUNTZAK</a>
        </td>
      </tr>
      <tr>
        <td style="display:block; padding-top: 0; padding-bottom: 0; font-size: 16px; font-weight: bold; text-align: center; padding: 10px; color: #000000; background-color: #ffffff; text-transform: uppercase">
          EPEAK</td>
      </tr>
      <tr>
        <td style="display: block; padding-left: 44px; padding-right: 31px; color: black; font-weight: 600; ">
          <table style="width:100%;margin-top: 10px;">
            <tr>
              [HELPS]
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td
          style="display: block; padding-top: 10px; padding-right: 60px; padding-bottom: 0; padding-left: 60px; color: grey; font-size: 30px; text-align: center; ">
          <img src="https://www.spri.eus/archivos/boletines/imgs/GS_1/base/separador.jpg" alt="dots">
        </td>
      </tr>
      [END_IF_HELPS]
      [BANNERS]
		<tr>
			<td height="235" align="center" valign="middle" bgcolor="#3d3d3f">
<br/>
	                                <p style="font-size:16px; color:#FFFFFF; font-weight:100;">Hemen da industria<br />berria</p>
				                            <table border="0" cellspacing="10" cellpadding="5" align="center">
            					<tbody>
            						<tr>
            							<td align="center" valign="middle"> <a href="https://www.youtube.com/user/grupoSPRI" target="_blank"> <img src="https://spri.img-us3.com/admin/icon_youtube.gif" alt="youtube" width="60" height="24" style="border:0"> </a>
            							</td>
            							<td align="center" valign="middle"> <a href="https://www.linkedin.com/company/grupospri" target="_blank"> <img src="https://spri.img-us3.com/admin/icon_linkedin.gif" alt="linkedin" width="25" height="25" style="border:0"> </a>
            							</td>
            							<td align="center" valign="middle"> <a href="https://twitter.com/grupospri" target="_blank"> <img src="https://spri.img-us3.com/admin/icon_twitter.gif" alt="twitter" width="30" height="25" style="border:0"> </a>
            							</td>
            							<td align="center" valign="middle"> <a href="https://www.spri.eus/es/rss-2/" target="_blank"> <img src="https://spri.img-us3.com/admin/icon_rss.gif" alt="rss" width="23" height="23" style="border:0"> </a>
            							</td>
            						</tr>
            					</tbody>
        				    </table>

				
                            <div style="text-align: center;"><p style="font-size:10px; color:#FFFFFF; padding: 10px 0px;">
                                %SENDER-INFO-SINGLELINE%<br/> 
                                <strong> Tel.: <a href="tel:+34900929393" style="color:#FFFFFF;">900 929 393</a>
                                <a href="mailto:info@spri.es" style="color:#FFFFFF;">info@spri.eus</a> </strong> <br>
                                <span id="susc" style="display: inline-block;"> <a id="id_baja" href="%UNSUBSCRIBELINK%" style="color:#FFFFFF;" target="_blank"> Suskribapenaren baieztapena </a> |
                                <a id="id_editar" href="https://www.spri.eus/es/boletines/mis-suscripciones/" style="color:#FFFFFF;" target="_blank"> Aldatu nire harpidetza </a> |
                                </span> <a href="https://www.spri.eus/buletinak/" style="color:#FF0000;" target="_blank"> <span>Eman izena</span> eta jaso gure jakinarazpenak </a> | 
                                <a href="https://www.spri.eus/lege-oharra/" style="color:#FFFFFF;" target="_blank"> Lege Oharra </a> <br> 
                                Beste batzuekin partekatu nahi badituzu zure albisteak eta gure jarduera-eremuekin:<br> 
                                <a href="https://basqueindustry.spri.eus/" target="_blank" style="color:#FFFFFF; text-decoration:none"> Basque Industry 4.0 </a> |
                                <a href="https://www.spri.eus/nazioartekotzea/" style="color:#FFFFFF;" target="_blank"> Nazioartekotzea </a> | 
                                <a href="https://www.spri.eus/ekintzailetza/" style="color:#FFFFFF;" target="_blank"> Ekintzailetza </a> | 
                                <a href="https://www.spri.eus/teknologia/" style="color:#FFFFFF;" target="_blank"> Teknologia </a> | 
                                <a href="https://www.spri.eus/berrikuntza/" style="color:#FFFFFF;" target="_blank"> Berrikuntza </a> | 
                                <a href="https://www.spri.eus/invest-in-basque-country/" style="color:#FFFFFF;" target="_blank"> Invest in the Basque Country </a> <br> 
                                lotutako ekitaldiak, bidali posta elektroniko bat helbide honetara  <a href="mailto:spricomunica@spri.eus" style="color:#FFFFFF;">spricomunica@spri.eus</a> <br/>
                                
                            </p></div><br/>
							</td>
		</tr>
			
		</tbody>	
			</table>
	<p>&nbsp;</p>

	</body>
</html>
