<tr>
  <td style="display:block; padding-top: 0; padding-right: 60px; padding-bottom: 0; padding-left: 60px">				
    <table width="100%" cellpadding="0" cellspacing="0">
      <tr>
        <td style="vertical-align: top; vertical-align: middle; padding-left:15px">
          <div style="color: #111111; font-size: 16px; text-align:left;">
            <!-- <p style="color: #808080; font-size: 10px; text-transform: uppercase; text-align:left;font-family:arial;">[category]</p> -->
            <a style="color:#111111; font-size: 16px; font-family: arial;" href="[link]" target="_blank">[title]</a>
          </div>
        </td>
      </tr>
    </table>
  </td>
</tr>
<tr>
  <td style="display: block; padding-top: 0px; padding-right: 60px; padding-bottom: 0; padding-left: 60px; color: grey; font-size: 30px; text-align: center; ">
    <img src="https://www.spri.eus/archivos/boletines/imgs/GS_1/base/separador.jpg" alt="dots">
  </td>
</tr>